
*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #38c763;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header ul{
    justify-content: end;
}

li {
    margin-right: 10px;
}

header li{
    color: white;
}

li input{
    border-radius: 12px;
}

// nav {
//     background-color: white;
//     position: sticky;
//     top: 0px;
// }
.block-menu{
    background-color: white;
    position: sticky;
    top: 0px;
}

nav li{
    // padding: 0px 34px;
}

nav img{
    width: 90px;
    height: 90px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007bff;
}

.block-img{
    // position: relative;
    background-image: url("../../assets/images/me_4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.block-img-title{
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 24px 25px;
    text-align: center;
    width: 550px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 480px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.block-two{
    display: flex;
    justify-content: center;
    margin-top: 67px;
}

.block-two-title{
    background-color: rgb(61, 11, 140);
    color: white;
    padding: 24px 35px;
    text-align: center;
    margin: 22px;
    border-radius: 5px;
}

.block-two-title a{
    cursor: pointer;
}

.block-three-info{
    background-color: rgb(239, 240, 251);
    padding: 125px 45px;
}


.block-three-info img{
    max-width: 100%;
    height: auto;
}


/* Section À propos */
.about-section {
    text-align: center;
    color: #333;
    display: flex;
  }
  
  .about-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .about-content {
    max-width: 800px;
    margin: 2px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-content h1 {
    color: #4CAF50;
    font-size: 2em;
  }
  
  .about-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
  }

    .gallery-section{
        background-color: white;
        margin: 50px;
    }
    .gallery-section-card{
        margin: 30px;
        background-color: aliceblue;
    }

    .gallery-section-card-first{//photo_4_2024-12-10_17-30-26  photo_9_2024-12-10_17-30-26  photo_14_2024-12-10_17-30-26.jpg
        background-image: url("../../assets/images/photo_4_2024-12-10_17-30-26.jpg");
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery-section-card-second{
        background-image: url("../../assets/images/photo_3_2024-12-10_17-30-26.jpg");
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery-section-card-thirst{
        background-image: url("../../assets/images/photo_7_2024-12-10_17-30-26.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



















