
*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #38c763;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header ul{
    justify-content: end;
}

li {
    margin-right: 10px;
}

header li{
    color: white;
}

li input{
    border-radius: 12px;
}

// nav {
//     background-color: white;
//     position: sticky;
//     top: 0px;
// }
.block-menu{
    background-color: white;
    position: sticky;
    top: 0px;
}

nav li{
    // padding: 0px 34px;
}

nav img{
    width: 90px;
    height: 90px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007bff;
}

.block-img{
    // position: relative;
    background-image: url("../../assets/images/me_4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.block-img-title{
    background-color: white;
    color: #38c763;
    border-radius: 12px;
    padding: 24px 35px;
    text-align: center;
    width: 350px;
    font-weight: bold;
    font-size: 33px;
    margin-top: 376px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.block-two{
    display: flex;
    justify-content: center;
    margin-top: 67px;
}

.block-two-title{
    background-color: rgb(61, 11, 140);
    color: white;
    padding: 24px 35px;
    text-align: center;
    margin: 22px;
    border-radius: 5px;
}

.block-two-title a{
    cursor: pointer;
}

.block-three-info{
    background-color: rgb(239, 240, 251);
    padding: 125px 45px;
}


.block-three-info img{
    max-width: 100%;
    height: auto;
}


















