<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <section class="blocks">
                <div class="block-img">
                    <div>
                        <img class="rounded-circle" src="../../assets/images/IMG_20231130_063124.jpg" alt="mireille">
                    </div>
                    <div class="block-img-p">
                        <p style="color: red;font-size: 35px;">Esse Mireille Yepie</p>
                        <p>Developpeuse Web</p>
                    </div>
                </div>
                <div class="block-about">
                    <div class="block-about-title">
                        <div>
                            <img src="../../assets/images/icons8-utilisateur-48.png" alt="user" width="30px">
                        </div>
                        <div>
                            <h3>About Me</h3>
                        </div>
                    </div>
                    
                    <p>
                        Très passionnée par les TIC, je serai honorée de faire partie de votre 
                        dynamique équipe pour relever plus de défis.
                    </p>
                </div>
                <div class="block-adress">
                    <div class="block-adress-location">
                        <div>
                            <img src="../../assets/images/icons8-gps-50.png" width="25px" alt="call">
                        </div>
                        <div>
                            <p>07 BP 6754 Abidjan 07 II Plateaux Abidjan Côte d'Ivoire</p>
                        </div>
                    </div>
                    <div class="block-adress-email">
                        <div>
                            <img src="../../assets/images/icons8-nouveau-message-50.png" width="25px" alt="call">
                        </div>
                        <div>
                            <p>essemireilleyepie@gmail.com</p>
                        </div>
                    </div>
                    <div class="block-adress-number">
                        <div>
                            <img src="../../assets/images/icons8-appel-48.png" width="25px" alt="call">
                        </div>
                        <div>
                            <p>0789444110</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-6">
            <section class="blocks">
                <div class="block-kills">
                    <h3>Software Skills</h3>
                </div>
            </section>
            <section class="blocks">
                <div class="block-specialities">
                    <h3>Specialities</h3>
                    <div>
                         
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <section class="blocks">
                <div class="block-cv-experience">
                    <h2>Characteristics</h2>
                </div>
            </section>
        </div>
    </div>
</div>


